<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/master.css" %}">
    <title>Django Level Two</title>
  </head>
  <body>
    <h1>Welcome To HomePage</h1>
    <h1>Here are your Access Records</h1>

    <div class="django">
      {% if accessRecords%}
      <table border="1">
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>

        {% for acc in accessRecords %}
        <tr>
          <td>{{acc.name}}</td>
          <td>{{acc.date}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>no access record found</p>
      {% endif %}

    </div>

  </body>
</html>
