<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>HomePage</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 align="center">Welcome to your home page 1</h1>
            <h2 align="center">Go to /formpage to fill out the form</h2>
        </div>
    </div>
</body>
</html>