.top-nav-bar{
  height: 57px;
  top:0;
  position: sticky;
  background: white;
  margin-bottom:20px;
  border-bottom: 3px solid #563d7c;
  z-index: 2;

}

body{
  color: black;
  background-color:#fff;
}

.logo{
  width: 10%;
  margin: 4px 0px;
  margin-left: 18px;
  border: 3px solid #563d7c;
}

.form-control{
  margin-top: 9px !important;
  margin: auto;
  margin-left: 40px !important;
  border: 1px solid #563d7c !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;

}

.input-group-text{
  color: #fff !important;
  background: #563d7c !important;
  border:1px solid #563d7c !important;
  margin-top: 9px;
  margin-bottom: 6px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor:pointer;
}

.search-box{
  display:inline-flex;
  width: 60%;
}

.menu-bar{
  width: 40%;
  height: 57px;
  float:right;
}

.menu-bar ul{
  display: inline-flex;
  float: right;
  margin: 0;
  padding: 0;
}

.menu-bar ul li{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: #563d7c !important;
  cursor: pointer;
}

.menu-bar ul li a{
  font-size: 16px;
  font-weight: bold;
  color:#fff;
  text-decoration: none;
}

#cart{
  margin-right: 5px;
}

 @media only screen and (max-width: 980px)
{
  .top-nav-bar
  {
    height: 118px ;
    border-bottom: 0;
  }
  .search-box
  {
    width: 100%;
    height: 53px;
  }
  .menu-bar
  {
    width:100%;
  }
  .menu-bar ul
  {
    margin-top: 10px;
    width: 100%;
  }

  .menu-bar ul li
  {
    height: 57px;
    width: 100%;
  }
}

/* -------------side menu---------- */

.side-menu{
  height: 79%;
  width:10%;
  font-size: 16px;
  float: left;
  z-index: 2;
  background-color: #fff;

}

.side-menu ul{
  margin-left: 20px;
}

.side-menu ul li{
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor:pointer;
}

.side-menu ul li:hover{
  color: #563d7c;
}
.side-menu ul li ul{
  display: none;
  z-index: 10;
  top: 77px;
}
.side-menu ul li:hover ul{
  display: block;
  height: 400px;
  margin-left: 7%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #fff;
  box-shadow: 1px 1px 4px 1px rgb(0,0,0,0.4);
}

.fa-angle-right{
  margin-top: 4px;
  margin-right:20px;
  float: right;
}

#menu-btn,#close-btn{
  font-size: 30px;
  margin: 10px;
  color: #563d7c;
  display: none;
}

@media only screen and (max-width: 980px)
{
  .side-menu{
    width: 40%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    padding-right: 80px;
    display: none;
  }

  .side-menu ul li ul{
    top:133px;
  }

  .side-menu ul li:hover ul{
    margin-left:15% !important;
  }

  #menu-btn{
    display: block;
  }
}


/* ---------SLIDER-------- */

.slider{

   width: 86%;
   margin: auto;
   margin-right: 2px !important;
   margin-left: 180px !important;
   border: 3px solid #563d7c;
   border-radius: 10px;


}

.slider img{

  height: 600px
  /* width: 90% !important; */

}
