<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/users.css" %}">
    <title>Django Level Two</title>
  </head>
  <body>

    <h1>Here are your user:</h1>

    <div class="django">
      {% if containData%}


      <ol id="data">
        {% for acc in containData %}
          <li id="us">User Info</li>

            <ul>
              <br>
              <li> First Name: {{acc.fName}}</li>
              <li> Last Name: {{acc.lName}}</li>
              <li> Email: {{acc.email}}</li>
            </ul>
        <br>
        {% endfor %}
        </ol>
      {% else %}
      <p>no access record found</p>
      {% endif %}

    </div>

  </body>
</html>
