<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/data.css" %}">
    <title>Django Level Two</title>
  </head>
  <body>
    <h1>Welcome To HomePage</h1>
    <h1>Here are your Access Records</h1>

    <div class="django">
      {% if containData%}
      <table border="1">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email-Id</th>
        </thead>

        {% for acc in containData %}
        <tr>
          <td>{{acc.fName}}</td>
          <td>{{acc.lName}}</td>
          <td>{{acc.email}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>no access record found</p>
      {% endif %}

    </div>

  </body>
</html>
